*{
    margin:0;
    padding:0;
    font-family: "Gilory";
    box-sizing: border-box;
}

html,body{
    width:100%;
    height:100%;
}

#main{
    width:100%;
    height:100%;
    background-color: white;
}

#circle{
    position: absolute;
    left:-75vh;
    top:50%;
    transform: translate(0%,-50%) rotate(100deg);
    border-radius:50%;
    height:150vh;
    width:150vh;
    border: 2px solid #f1f1f1;
}

.stripe{
    display: flex;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(0,-50%);
    width:100%;
    height: 60px;
    transform-origin: 0% 50%;
}

.str1{
  transform: translate(0,-50%) rotate(-20deg);
}

.str2{
    transform: translate(0,-50%) rotate(-10deg);
  }

  .str4{
    transform: translate(0,-50%) rotate(10deg);
  }

  .str5{
    transform: translate(0,-50%) rotate(20deg);
  }



  .first{
    position: relative;
    width:50%;
    height:100%;
    
  }

  .smcircle{
    position: absolute;
    right:-.3vw;
    top:50%;
    transform: translate(0, -50%);
    border-radius: 50%;
    width:.5vw;
    height:.5vw;
    background-color: #443f3f77;
  }

  .sec{
    opacity: .4;
    padding-left: 30px;
    width: 50%;
    height: 100%;
    
  }

.sec h4{
    font-size: 2vw;
}

.sec h6{
    font-size: 1vw;
    opacity: .5;
font-weight: 500;
}


#panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right:3%;
    top:50%;
    transform: translate(0, -50%);
    width:5%;
    height:20%;
}

.mncircle{
    border-radius: 50%;
    width:1vw;
    height:1vw;
    opacity: .1;
background-color: black;
}

#circle{
  background-image: url('https://t3.ftcdn.net/jpg/09/91/71/76/240_F_991717661_Otf5fyqnqfcxW5ijAKsuJE0Cs7q1Hz01.jpg');
}